* {
  box-sizing: border-box;
}

.pass-board {
  color: #fff;
  background-color: #427834;
  width: 100%;
  max-width: 500px;
  padding: 16px;
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.game-boards,
.ports-wrapper,
.player1-div,
.player2-div,
.player1-div > div,
.player2-div > div {
  display: grid;
}

.ports-wrapper > div > div {
  height: 50px;
  position: relative;
}

.one > button {
  width: 50px;
}

.two > button {
  width: 100px;
}

.three > button {
  width: 150px;
}

.four > button {
  width: 200px;
}

.ports-wrapper button {
  height: 50px;
  background-color: #f63434;
  position: absolute;
}

.game-boards,
.ports-wrapper {
  grid-template-columns: repeat(auto-fill, 600px);
  gap: 20px;
}

.player1-div,
.player2-div {
  grid-template-rows: repeat(10, 50px);
}

/* .player1-div {
  visibility: hidden;
} */

.player1-div > div,
.player2-div > div {
  grid-template-columns: repeat(10, 50px);
}

.player1-div > div > button,
.player2-div > div > button {
  border: 1px solid black;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:disabled,
.current button,
.over button {
  cursor: not-allowed;
}

.opponent button {
  background-color: #5843f5;
}
/* 
button:hover {
  transform: scale(1.2);
} */
.ship {
  background-color: #f63434;
}
